@import "node_modules/bootstrap/scss/bootstrap";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-size: 2.5rem;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .big-heading {
    font-size: 3.5rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .big-heading {
    font-size: 3rem;
  }
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Container */

.title-container,
.features-container,
.testimonial-container,
.pricing-container,
.cta-container,
.footer-container {
  @include make-container();
  padding: 7% 15%;
}

/* Buttons */
/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

.large-button {
  @extend .btn;
  @extend .btn-lg;
}


/* Sections */

@mixin red-section {
  background-color: #ff4c68;
  color: #fff;
}

@mixin red-light-section {
  background-color: #ef8172;
  color: #fff;
}

@mixin white-section {
  background-color: #fff;
}

/* Navigation Bar */

.main-navbar {
  padding: 0 0 4.5rem;
  @extend .navbar;
  @extend .navbar-expand-lg;
  @extend .navbar-dark;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

/* Title */

.title {
  @include red-section;
}

.title-container {
  padding: 3% 15% 7%;
}

.title-row {
  @include make-row();
}

.title-column {
  @include make-col-ready();

    @include media-breakpoint-up(lg) {
        @include make-col(6);
    }
}

.title-img {
  position: absolute;
  transform: rotate(25deg);
  width: 60%;
}

@media (max-width: 992px) {
  .title-img {
    position: static;
    transform: rotate(0);
  }
}

/* Features */
.features {
  @include white-section;
  position: relative;
}

.features-row {
  @include make-row();
}

.feature {
  padding: 5%;
  position: relative;
  @include make-col-ready();
  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }
}

.feature-title {
  font-size: 1.5rem;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;

  &:hover {
    color: #ff4c68;
  }
}

/* Testimonials */
.testimonials {
  @include red-light-section;
}

.testimonial-container {
  padding: 7% 15%;
  margin-right: -100%;
}

.testimonial-text {
  font-size: 2rem;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .testimonial-text {
    font-size: 3rem;
  }
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

/* Press */
.press {
  @include red-light-section;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

/* Pricing */

.pricing {
  @include white-section;
  padding: 100px;

  @media (max-width: 992px) {
    padding: 100px 30px;
  }

}

.pricing-container {
  padding: 7% 0;
}

.pricing-row {
  @include make-row();
}

.pricing-column {
  padding: 3% 2%;
  overflow: hidden;
  @include make-col-ready();

  @include media-breakpoint-up(md) {
    @include make-col(6);
    &.block {
      @include make-col(12);
    }
  }
  @include media-breakpoint-up(lg) {
    @include make-col(4);
    &.block {
      @include make-col(4);
    }
  }
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Call To Action */

.cta {
  @include red-section;
}

/* Footer */

.footer {
  @include white-section;

  .contact-icon {
    color: #000;
    margin: 3% 2%;
  }

}

/* ANIMATIONS */

/* Animations */
.slide-elements {
  position: relative;
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  overflow-x: hidden;
}

@mixin slide-left {
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

@mixin slide-right {
  -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate3d(100px, 0px, 0px);
}

@mixin slide-bottom {
  -moz-transform: translate3d(0px, 100px, 0px);
  -webkit-transform: translate3d(0px, 100px, 0px);
  -o-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate3d(0px, 100px, 0px);
}

@mixin view-in {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.left-slide {
  @include slide-left;
}
.right-slide {
  @include slide-right;
}
.bottom-slide {
  @include slide-bottom;
}

.in-view {
  @include view-in;
}

@media (max-width: 767.98px) {
  .sm-left-slide {
    @include slide-left;
  }
  .sm-right-slide {
    @include slide-right;
  }
  .sm-bottom-slide {
    @include slide-bottom;
  }

  .in-view {
    @include view-in;
  }
}

@media (min-width: 768px) {
  .md-left-slide {
    @include slide-left;
  }
  .md-right-slide {
    @include slide-right;
  }
  .md-bottom-slide {
    @include slide-bottom;
  }

  .in-view {
    @include view-in;
  }
}

@media (min-width: 992px) {
  .lg-left-slide {
    @include slide-left;
  }
  .lg-right-slide {
    @include slide-right;
  }

  .lg-bottom-slide {
    @include slide-bottom;
  }

  .in-view {
    @include view-in;
  }
}
